<header>
</header>
<div class="Container home">
    <div class="col-sm-12">
        <h3>Lista Sprzedawców</h3>
        <hr>
        <div class="container">
            <div class="form-inline">
                <div class="form-group">
                    <label for= "companyName">Company Name </label>
                    <input type="text" ng-model="globalSearch.companyName" id="companyName" class="form-control">
                </div>
                <div class="form-group">
                    <label for= "companyAddress">Company Address </label>
                    <input type="text" ng-model="globalSearch.companyAddress" id="companyAddress" class="form-control">
                </div>

            </div>
        </div>
        <hr>
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th class="col-sm-2">Company Name</th>
                <th class="col-sm-2">Company Contact</th>
                <th class="col-sm-8"><p class="row text-center">Company Address</p></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="seller in sellersList | filter: globalSearch">
                <td class="col-sm-2">{{seller.companyName}}</td>
                <td class="col-sm-2">{{seller.companyContact}}</td>
                <td class="col-sm-8" align="center">{{seller.companyAddress}}</td>
                <td align="center">
                    <button type="button" ng-click="sellerCtrl.showAdvanced(seller.id)"
                            class="btn btn-info">Pojazdy</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

